body {
background-image: url(maxresdefault.jpg);
background-attachment: fixed;
background-size:1746px 1080px;
}
h1 {
    color: white;
    text-align: center;
}

h2 {
  color: white;
  text-align: left;
}

p{
  color:lightblue;
  text-align: justify;
}
